@import 'styles/variables.scss';
@import 'styles/mixins.scss';

#moneytracker-root {
  .u-container {
    max-width: $screen-lg-min;
    margin: 2em auto;
  }

  .u-shadow {
    box-shadow: 0 2px 4px 0 rgba(34, 36, 38, 0.12),
      0 2px 10px 0 rgba(34, 36, 38, 0.15);
  }

  @include mobile {
    .u-container {
      margin: 0;
      border: none;
      box-shadow: none;

      & .attached.segment:last-child {
        border: none;
      }
    }
  }
}
